{% extends '::layout.html.twig' %}

{% block title %}Error{% endblock %}

{% block content %}
    <h2 class="well">¡Se ha producido una Error!</h2>
    <p>Se ha generado un error genérico, pulse aquí para volver al <a href="{{ path('inicio') }}">Inicio</a>.</p>
{% endblock %}