{% extends '::layout.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block content %}
    <h2 class="well">¡Recurso no encontrado!</h2>
    <div class="alert alert-warning alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        <p>Se ha producido un error 404, pulse aquí para volver al <a href="{{ path('inicio') }}">Inicio</a>.</p>
    </div>
{% endblock %}