{% extends '::layout.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block content %}
    <h2 class="well">¡Recurso no encontrado!</h2>
    <p>Se ha producido un error 404, pulse aquí para volver al <a href="{{ path('inicio') }}">Inicio</a>.</p>
{% endblock %}