{% extends '::layout.html.twig' %}

{% block title %}Modificar Miembro{% endblock %}

{% block content %}
    <h1 class="well"> Modificar Miembro </h1>

    {{ form(formulario) }}

    <a href="{{ path('familias_miembros_listar') }}" class="btn btn-info">Volver al listado de Familias</a>
{% endblock %}