{% extends '::layout.html.twig' %}

{% block title %}Nueva Afición{% endblock %}

{% block content %}
    <h2 class="well">Crear una nueva Afición</h2>

    {{ form(formulario) }}

    <a href="{{ path('aficiones_listar') }}" class="btn btn-info">Volver al listado de Aficiones</a>
{% endblock %}