{% extends '::layout.html.twig' %}

{% block title %}Nueva Afición{% endblock %}

{% block content %}
    <h2 class="well">Crear una nueva Afición</h2>

    {{ form(formulario) }}

    <a href="{{ path('aficiones_listar') }}" class="btn btn-info">Volver al listado de Aficiones</a>
{% endblock %}

{% block javascripts %}
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% javascripts '@AppBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}