{% extends '::layout.html.twig' %}

{% block title %}Modificar Intercambio {% endblock %}

{% block content %}
    <h2 class="well"> Modificar Intercambio</h2>

    {{ form(formulario) }}

    <a href="{{ path('intercambios_listar') }}" class="btn btn-info">Volver al listado de Intercambios</a>
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}