# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    # En el caso de usar una cuenta de GMail para enviar notificaciones,
    # cambia "smtp" por "gmail", "127.0.0.1" por "~"; en mailer_user coloca
    # la cuenta de correo completa y en mailer_password la contraseña de acceso
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            es

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Tiempo de autorefresco de pagina
    refresco:          120

    # Datos generales del centro educativo
    centro:            'Young Connection'
    localidad:         Linares


    # Carpetas donde se encuentran los logos de los informes PDF
    logos:
                      organizacion: '../src/AppBundle/Resources/public/images/organizacion.png'
                      sello: '../src/AppBundle/Resources/public/images/sello.png'

    # Detalles sobre el modelo de intercambio
    intercambio:
                      revision: REV.1
                      descripcion: 'Notificación de Intercambio'
                      margen: 0

    # Prefijo de las notificaciones
    prefijo_notificacion: "[Young_Connection]"
    remite_notificacion: young.connection.soporte@gmail.com