{% extends '::layout.html.twig' %}

{% block title %}Nuevo Mensaje{% endblock %}

{% block content %}
    <h1 class="well">Crear un nuevo Mensaje</h1>

    {{ form(formulario) }}

    <a href="{{ path('mensajes_listar') }}" class="btn btn-info">Volver al listado de Mensajes</a>
{% endblock %}