{% extends '::layout.html.twig' %}

{% block title %}Modificar Usuario {{ usuario.correoElectronico }}{% endblock %}

{% block content %}
    <h1 class="well"> Modificar Usuario {{ usuario.correoElectronico }}</h1>

    {{ form(formulario) }}

    <a href="{{ path('usuarios_listar') }}" class="btn btn-info">Volver al listado de Usuarios</a>
{% endblock %}