{% extends '::layout.html.twig' %}

{% block title %}Nuevo Usuario{% endblock %}

{% block content %}
    <h1 class="well">Crear un nuevo Usuario</h1>

    {{ form(formulario) }}

    <a href="{{ path('usuarios_listar') }}" class="btn btn-info">Volver al listado de Usuarios</a>
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}