/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    min-width: 500px;
}
body {
    margin-bottom: 60px;
    background: url(../img/fondo.jpg);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    font-style: italic;
}
ul {
    list-style: square;
    margin-left: -15px;
}

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
code {
    font-size: 80%;
}
.navbar-brand, .navbar-nav a {
    font-size: 14px;
}
.navbar-nav a {
    font-size: 12.5px;
}
.header-nav{
    list-style:none
}
.header-nav-item{
    float:left
}
.user-nav {
    margin-right: -8px;
}
.header-nav-link{
    display:block;
    font-weight:bold;
    line-height:20px;
    color:#333
}
.header-nav-item{
    float:left;
}
.right {
    float:right;
}
.header-nav {
    list-style: outside none none;
}
.navbar-nav .avatar {
    float:left;
    margin-right: 5px;
}
.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}
.dropdown-menu {
    min-width: 130px;
}
.navbar-nav>li>a {
    line-height: 22px !important;
}
.btn-default:focus {
    color: #333 !important;
}


.dataTables_wrapper {
    position: inherit !important;
}
#tabla_wrapper {
    border-radius: 5px;
    background-color: #E7E7E7;
    margin: 20px 0px;
    padding: 5px 0px;
    border: 1px solid #E3E3E3;
}
#tabla_length, #tabla_filter {
    padding: 5px;
    color:#777;
}
#tabla_info, #tabla_paginate {
    color:#777;
}
#tabla_length {
    padding-left: 15px;
}
#tabla tr th {
    background-color: #F5F5F5;
}
#tabla tr:first-child th:first-child {
    cursor: pointer;
}
.seleccion, #multiple {
    text-align: center;
}
.propios {
    color:green;
}

.crear, .volver, .precaucion , .borrar {
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    border:0;
    box-shadow:
    inset 0 1px #4CAE4C,
    inset 1px 0 #4CAE4C,
    inset -1px 0 #4CAE4C,
    inset 0 -1px #4CAE4C,
    0 2px #4CAE4C,
    0 3px #4CAE4C,
    0 4px 2px rgba(0,0,0,0.0);
    background: #5CB85C;
    margin-bottom: 20px;
}
.volver {
    box-shadow:
    inset 0 1px #31B0D5,
    inset 1px 0 #31B0D5,
    inset -1px 0 #31B0D5,
    inset 0 -1px #31B0D5,
    0 2px #31B0D5,
    0 3px #31B0D5;
    background: #46B8DA;
}
.precaucion {
    box-shadow:
    inset 0 1px #EEA236,
    inset 1px 0 #EEA236,
    inset -1px 0 #EEA236,
    inset 0 -1px #EEA236,
    0 2px #EEA236,
    0 3px #EEA236;
    background: #F0AD4E;
}
.borrar {
    box-shadow:
    inset 0 1px #D43F3A,
    inset 1px 0 #D43F3A,
    inset -1px 0 #D43F3A,
    inset 0 -1px #D43F3A,
    0 2px #D43F3A,
    0 3px #D43F3A;
    background: #D9534F;
}
.enlace {
    box-shadow:
    inset 0 1px #666666,
    inset 1px 0 #666666,
    inset -1px 0 #666666,
    inset 0 -1px #666666,
    0 2px #666666,
    0 3px #666666;
    background: #999999;
}
.crear:hover, .volver:hover, .precaucion:hover, .borrar:hover  {
    opacity:0.8;
    color: #fff;
}
.crear:active, .volver:active, .precaucion:active, .borrar:active {
    top: 3px;
    background: #5CB85C;
    box-shadow: inset 0 1px 2px #4CAE4C;
    color: #fff;
}
.volver:active {
    background: #46B8DA;
    box-shadow: inset 0 1px 2px #31B0D5;
}
.precaucion:active {
    background: #F0AD4E;
    box-shadow: inset 0 1px 2px #EEA236;
}
.borrar:active {
    background: #D9534F;
    box-shadow: inset 0 1px 2px #D43F3A;
}
.enlace:active {
    background: #CCCCCC;
    box-shadow: inset 0 1px 2px #999999;
}
.cbutton {
    position: relative;
    display: inline-block;
    border: none;
    overflow: visible;
    -webkit-transition: color 0.7s;
    transition: color 0.7s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.cbutton.cbutton--click, .cbutton:focus {
    outline: none;
    color: white;
}
.btn-default {
    border: 1px solid #ADADAD;
}
.cbutton::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}
.cbutton--effect-novak-crear::after {
    background: rgba(0,128,0,0.5);
}
.cbutton--effect-novak-volver::after {
    background: rgba(81,153,197,0.5);
}
.cbutton--effect-novak-borrar::after {
    background: rgba(128,0,0,0.5);
}
.cbutton--effect-novak-precaucion::after {
    background: rgba(255,167,47,0.6);
}
.cbutton--effect-novak-enlace::after {
    background: rgba(0,0,0,0.4);
}
.cbutton--effect-novak-crear.cbutton--click::after, .cbutton--effect-novak-volver.cbutton--click::after,
.cbutton--effect-novak-borrar.cbutton--click::after, .cbutton--effect-novak-precaucion.cbutton--click::after,
.cbutton--effect-novak-enlace.cbutton--click::after  {
    -webkit-animation: anim-effect-novak 0.5s forwards;
    animation: anim-effect-novak 0.5s forwards;
}


.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}
.arrow {
    width: 80px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}


@-webkit-keyframes anim-effect-novak {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(0.1, 0.1, 1);
        transform: scale3d(0.1, 0.1, 1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(8, 8, 1);
        transform: scale3d(8, 8, 1);
    }
}
@keyframes anim-effect-novak {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(0.1, 0.1, 1);
        transform: scale3d(0.1, 0.1, 1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(8, 8, 1);
        transform: scale3d(8, 8, 1);
    }
}
@media (min-width: 768px) and (max-width: 1200px){
    .nav > li > a {
        padding: 15px 10px;
    }
}


@media (max-width: 992px){
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav:last-child>li:last-child> a {
        float: left;
    }
}
@media (max-width:768px) {
    #tabla td:nth-child(n+5),#tabla th:nth-child(n+5) {
        display:none;
    }
}