/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    background: url(../img/fondo.jpg);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
ul {
    list-style: square;
    margin-left: -15px;
}

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
code {
    font-size: 80%;
}
.navbar-brand, .navbar-nav a {
    font-size: 12.5px;
}
.header-nav{
    list-style:none
}
.header-nav-item{
    float:left
}
.user-nav {
    margin-right: -8px;
}
.header-nav-link{
    display:block;
    font-weight:bold;
    line-height:20px;
    color:#333
}
.header-nav-item{
    float:left;
}
.right {
    float:right;
}
.header-nav {
    list-style: outside none none;
}
.navbar-nav .avatar {
    float:left;
    margin-right: 5px;
}
.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}
.dropdown-menu {
    min-width: 130px;
}
.navbar-nav>li>a {
    line-height: 22px !important;
}


#tabla_length, #tabla_filter {
    padding: 5px;
}
#tabla_length {
    padding-left: 15px;
}
#tabla tr:first-child th:first-child, #tabla tr:first-child td:first-child {
    /*visibility: hidden;*/
}
.seleccion, #multiple {
    text-align: center;
}
#tabla_wrapper {
    border-radius: 5px;
    background-color: #F5F5F5;
    margin: 30px 0px;
    padding: 5px 0px;
    border: 1px solid #E3E3E3;
}

@media (min-width: 768px) and (max-width: 1200px){
    .nav > li > a {
        padding: 15px 10px;
    }
}
@media (max-width: 992px){
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav:last-child>li:last-child> a {
        float: left;
    }
}