/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
code {
    font-size: 80%;
}
.navbar-brand, .navbar-nav a {
    font-size: 12.5px;
}


.nav > li > a {
    padding: 15px 12px;
}
.header-nav{
    list-style:none
}
.header-nav-item{
    float:left
}
.user-nav {
    margin-right: -8px;
}
.header-nav-link{
    display:block;
    font-weight:bold;
    line-height:20px;
    color:#333
}
.header-nav-item{
    float:left;
}
.right {
    float:right;
}
.header-nav {
    list-style: outside none none;
}
.navbar-nav .avatar {
    float:left;
    margin-right: 5px;
}
.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}



.recordar {
    color: #A94442;
    float:right;
}
.recordar:hover {
    color: #8A6D3B;
}
