{% extends '::layout.html.twig' %}

{% block title %}Modificar Centro {{ centro.nombre }}{% endblock %}

{% block content %}
    <h2 class="well"> Modificar Centro {{ centro.nombre }}</h2>

    {{ form(formulario) }}

    <a href="{{ path('centros_listar') }}" class="btn btn-info">Volver al listado de Centros</a>
{% endblock %}