{% extends '::layout.html.twig' %}

{% block title %}Nuevo Centro{% endblock %}

{% block content %}
    <h1 class="well">Crear un nuevo Centro</h1>

    {{ form(formulario) }}

    <a href="{{ path('centros_listar') }}" class="btn btn-info">Volver al listado de Centros</a>
{% endblock %}