{% extends '::layout.html.twig' %}

{% block title %}Nueva Imágen{% endblock %}

{% block content %}
    <h1 class="well">Crear una nueva Imágen</h1>

    {{ form(formulario) }}

    <a href="{{ path('inicio') }}" class="btn btn-info">Volver al inicio</a>
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/bootstrap-fileupload.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}