{% extends '::layout.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h2 class="well">¡Bienvenido a Young Connection!</h2>
    <div id="piechart"></div>
{% endblock %}

{% block javascripts %}
    <script src="http://code.highcharts.com/4.0.1/highcharts.js"></script>
    <script src="http://code.highcharts.com/4.0.1/modules/exporting.js"></script>
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% javascripts '@AppBundle/Resources/public/js/TweenMax.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}