{% extends '::layout.html.twig' %}

{% block title %}Modificar Curso {{ curso.descripcion }}{% endblock %}

{% block content %}
    <h1 class="well"> Modificar Curso {{ curso.descripcion }}</h1>

    {{ form(formulario) }}

    <a href="{{ path('cursos_listar') }}" class="btn btn-info">Volver al listado de Cursos</a>
{% endblock %}